.h-brand {
    overflow: hidden;
    padding-top: 0;
    @include max(1200px) {
        padding-bottom: 12rem;
    }
    @include max(768px) {
        padding-bottom: 0;
    }
    &-top {
        position: relative;
        z-index: 2;
        @include max(768px) {
            padding-top: 0;
        }
        &::before {
            background-color: #004F67;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            z-index: -1;
            @include max(768px) {
                height: 50%;
            }
        }
    }
    &-w {
        position: relative;
        z-index: 2;
        &::before,  &::after {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &::before {
            top: -60%;
            right: 0;
            transform: translateX(50%);
            width: 51%;
            height: 143%;
            background-image: url(../assets/images/host-home/bg-top.png);
        }
        &::after {
            bottom: -42%;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            background-image: url(../assets/images/host-home/bg-bot.png);
        }
    }
    .host-tt {
        margin-bottom: 12rem;
        @include max(1200px) {
            margin-bottom: 6rem;
        }
        @include max(768px) {
            margin-bottom:3.2rem;
        }
        @include max(550px) {
            margin-bottom: 2.4rem;
        }
        .txt-user {
            font-size: 13rem;
            @include max(1368px) {
                font-size: 10rem;
                width: max-content;
            }
            @include max(1200px) {
                font-size: 8rem;
            }
            @include max(768px) {
                font-size: 5.2rem;
            }
            @include max(550px) {
                font-size: 3.2rem;
            }
        }
        br {
            @include min(550px) 
            {
                display: none;
            }
        }
    }
    .clhser-i-inner {
        height: 100%;
        align-items: flex-start;
        .sub-tt {
            font-size: 4rem;
            font-weight: 600;
            @include max(1200px) {
                font-size: 2.4rem;
            }
        }
    }  
    .clhser-ad-i {
        @include max(1200px) {
            padding: 0 2rem;
        }
        .icon {
            @include max(768px) {
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
    .clhser-tt {
        margin-bottom: 0;
    } 
    .clhser-in-link {
        display: block;
        width: 50%;
    }
    .clhser-l {
        @include max(1200px) {
            margin-top: 0;
            padding-left: 0;
            padding-right: 2.4rem;
        }
        @include max(768px) {
            padding-right: 0;
        }
    }
}

.clhser-i {
    &.style-pri {
        width: 100%;
        max-width: max-content;
        padding-left: calc((100vw - 144rem) / 2);
        @include max(768px) {
            padding-left: 1.6rem;
        }
        @include max(600px) {
            padding-left: .8rem;
        }
    }
}
.clhser-decor-img {
    position: absolute;
    top: 45%;
    left: calc((100vw - 144rem) / 2);
    width: calc(4 * 100%  / 12);
    transition: all .5s ease-in-out;
    &.scale {
        transform: scale(.7);
        transform-origin: bottom;
    }
    @include max(768px) {
        display: none;
    }
}

.clhser {
    &.space-s {
        .clhser-list {
            @include min(769px) {
                height: 100vh;
            }
        }
        .clhser-tt {
            margin-bottom: 0;
        }
        .clhser-i-inner {
            height: auto;
            align-items: flex-start;
        }
        .clhser-i {
            display: flex;
            align-items: flex-start;
            height: auto;
            position: relative;
            z-index: 2;
            padding-top: calc((120 / 1920) * 100vw);
            @include max(768px) {
                padding-top: 0;
            }
            &:nth-child(2) {
                &::before {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    display: block;
                    width: 50%;
                    height: 57%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url(../assets/images/host-home/bg-green.png);
                    transform: translate(50%, -90%);
                    @include max(768px) {
                        display: none;
                    }
                }
            }
            &:nth-child(3) {
                &::before {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    top: -20%;
                    right: 0;
                    display: block;
                    width: 100%;
                    height: 170%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../assets/images/host-home/bg-digital.png);
                    transform: translate(0, -50%);
                    @include max(768px) {
                        display: none;
                    }
                }
                &::after {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: block;
                    width: 50%;
                    height: 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../assets/images/host-home/bg-lms.png);
                    transform: translate(50%, 0%);
                    @include max(768px) {
                        display: none;
                    }
                }
            }
            &:nth-child(4) {
                &::before {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    bottom: -20%;
                    right: 0;
                    display: block;
                    width: 100%;
                    height: 170%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../assets/images/host-home/bg-nhtq.png);
                    transform: translate(0, 32%);
                    @include max(768px) {
                        display: none;
                    }
                }
            }
        }
    }
}
