.h-platform {
    // background-color: #48bbf6;
    padding-top: 8rem;
    position: relative;
    z-index: 3;
    @include max(1200px) {
        padding-bottom: 0;
        padding-top: 6rem;
    }
    @include max(1024px) {
        padding-top: 16rem;
    }
    @include max(992px) {
        padding-top: 6rem;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../assets/images/host-home/bg-system-02.png);
    }
    &.session-statistical {
        .statistical-traffic {
            .communication {
                background-color: unset;
            }
        }
        .txt-bg-ani.bg-host::before {
            box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.12);
        }
        .quote-ct {
            max-width: max-content;
            position: absolute;
            top: -51%;
            right: 30%;
            @include max(1350px) {
                position: static;
                display: none;
            }
            .quote-bottom-right::before {
                @include max(1350px) {
                    display: none;
                }
                background-color: #7c0fd1;
                right: auto;
                left: 1.5rem;
                top: 98%;
                width: 1.6rem;
                height: 1.2rem;
                -webkit-clip-path: polygon(23% 0, 0 100%, 100% 0);
                clip-path: polygon(100% 0, 20% 0, 0 100%);
                transform: translate(1.2rem, 0);
            }
        }
       
    }
}

.session-service-title-wrap.style-pri {
    padding-top: 6rem;
}
