.h-problem {
    padding: 0;
    @include max(1200px) {
        position: relative;
        z-index: 4;
    }
    .host-tt {
        @include max(500px) {
            margin-top: 0;
            padding-top: 2.4rem;
        }
    }
    &-w {
        background: linear-gradient(180deg, #064659 0%, #1EC0F2 122.86%);
    }
    &-main {
        margin-top: 2.4rem;
    }
}