
.h-partner {
    position: relative;
    z-index: 2;
    @include max(600px) {
        padding-top: 0rem;
        overflow: hidden;
    }
    &::after {
        z-index: -2;
        display: block;
        content: "";
        position: absolute;
        top: 4%;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #26b1ef  0%, #4871E3 100%);
        @include max(1200px) {
            background: linear-gradient(180deg, #1fbff8 0%, #4871E3 100%);
        }
        @include max(550px) {
            top: 0;
            background: linear-gradient(180deg, #27aeef 0%, #4871E3 100%);
        }
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -3.8%;
        left: 0;
        width: 100%;
        height: 30%;
        z-index: -1;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../assets/images/host-home/bg-partner-top.png);
        @include max(1200px) {
            top: -15.8%;
            background-size: 100% 100%;
            height: 43%;
        }
        @include max(600px) {
            top: -3%;
            background-size: contain;
        }
    }
  
    .airplane {
        .tl {
            @include max(600px) {
                display: none;
            }
        }
        .tl-mb {
            @include min(600px) {
                display: none;
            }
        }
    }
    .panda {
        @include max(600px) {
            position: relative;
            padding-top: 5.6rem;
            width: 120%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.w-linear {
    .tab-button-custom .item {
        color: #fff;
    }
}
.hclhpr {
    .hclhpr-w {
        margin-top: -2rem;
        @include max(600px) {
            margin-top: 0;
        }
    }
}

.home-sesion-not-contact .content-bottom .content {
    align-items: center;
    @include max(992px) {
        align-items: flex-end;
    }
}

section.home-sesion-not-contact .content-bottom  .host-tt .txt-bg {
    margin: inherit;
}

.hclhpr-des {
    width: 53%;
    font-size: 1.6rem;
}

.home-session-six-year-footer .wrap .header-about .txt-content-solution {
    justify-content: flex-start;
}

.home .home-sesion-not-contact .content-bottom .content .content-right .about {
    @include max(992px) {
        padding-bottom: 3.2rem;
        width: 100%;
    }
    @include max(600px) {
        padding-bottom: 1.6rem;
    }
    br {
        @include max(992px) {
            display: none;
        }
    }
}
.space-mb {
    @include max(992px) {
        margin-bottom: 1rem;
    }
}

.home-session-mr-thoai .background-main {
    @include max(600px) {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 30%;
            height: 30%;
            background-color: #fff;
            z-index: 1;
        }
    }
}

