.h-security {
    position: relative;
    padding-bottom: 10rem;
    background:  #A943F9;
    @include max(1200px) {
        padding-bottom: 0;
    }
    &-bg-bot {
        position: absolute;
        bottom: 1.5%;
        left: 0;
        width: auto;
        height: 100%;
        overflow: hidden;
        @include max(1200px) {
            display: none;
        }
        img {
            display: block;
            width: 100%;
            height: 10 0%;
            object-fit: contain;
            object-position: bottom;
            @include max(1200px) {
                width: 120%;
                height: 100%;
                object-fit: contain;
                object-position: -10rem bottom;
            }
            @include max(820px) {
                object-position: -7.7rem bottom;
            }
        }
    }
    &-bg {
        position: absolute;
        z-index: 0;
        background-size: contain;
        background-repeat: no-repeat;
        &.star {
            pointer-events: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 40%;
            background-image: url(../assets/images/host-home/bg-star.png);
            mix-blend-mode: color-dodge;
        }
        &.tl {
            z-index: 2;
            width: 5%;
            height: 7%;
            top: 11.6%;
            left: calc((100vw - 114rem) / 2);
            background-image: url(../assets/images/host-home/tl.png);
            @include max(1200px) {
                display: none;
            }
        }
        &.server {
            width: 60%;
            left: calc((100vw - 110rem) / -2);
            bottom: 0%;
            @include max(1200px) {
                left: -20%;
            }
            @include max(767px) {
                width: 100%;
            }
            img {
                object-fit: contain;
            }
        }
    }
    &-w {
        margin-top: -36rem;
        padding-top: 36rem;
        padding-bottom: 4rem;
        position: relative;
        z-index: 1;
        -webkit-mask-image: url(../assets/images/host-home/mask.png);
        -webkit-mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: bottom;
        overflow: hidden;
        @include max(1200px) {
            -webkit-mask-size: 125% 100%;
        } 
        @include max(768px) {
            -webkit-mask-size: 290% 100%;
        }
        @include max(767px) {
            -webkit-mask-image: unset;
            padding-bottom: 0;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #023C4E 0.67%, #0c5f7a 47.99%, #094d62 153.86%);
        }
        &::after {
            pointer-events: none;
            mix-blend-mode: overlay;
            z-index: 0;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
            background-image: url(../assets/images/host-home/bg-security.png);
        }
    }
    .host-tt {
        img {
            margin: 0 auto;
            width: auto;
            height: 5.2rem;
            object-fit: contain;
            @include max(1200px) {
                height: 3.2rem;
            }
        }
    }
    &-top {
        margin-top: 6.4rem;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @include max(1200px) {
            margin-top: 3.2rem;
        }
    }
    &-bot {
        display: flex;
        flex-wrap: wrap;
        margin-top: 9rem;
        @include max(1200px) {
            margin-top: 5.6rem;
        }
        @include max(767px) {
            margin-top: 3.2rem;
            flex-direction: column-reverse;
        }
    }
    &-l {
        width: 45%;
        padding-left: calc(2 * 100% / 12);
        position: relative;
        z-index: 2;
        @include max(767px) {
            width: 70%;
            margin: 0 auto;
        }
        img {
            width: 134%;
            transform: translateX(10%);
        }
    }
    &-r {
        width: 55%;
        @include max(767px) {
            width: 100%;
          
        }
    }
    &-txt {
        position: relative;
        color: #fff;
        padding: 5.4rem 3rem;
        border-radius: 2.4rem;
        background-color: $nhtqColor;
        font-size: 4rem;
        text-align: center;
        @include max(1200px) {
            font-size: 2.4rem;
            padding: 3.2rem 1.4rem;
            border-radius: 1.6rem;
        }
        @include max(767px) {
            border-radius: .8rem;
            margin-bottom: 1.6rem;
            padding: 1.8rem 1.2rem;
            font-size: 1.8rem;
        }
        &::before {
            position: absolute;
            content: "";
            display: block;
            width: 5rem;
            height: 5rem;
            left: 0;
            top: 5%;
            transform: translateX(-60%);
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../assets/images/host-home/decor-mess.png);
            @include max(1200px) {
                width: 3.4rem;
                height: 3.4rem;
            }
            @include max(767px) {
                width: 3.4rem;
                height: 3rem;
                left: auto;
                top: auto;
                right: 20%;
                background-size: contain;
                bottom: 0;
                transform: translate(0,50%) rotate(270deg);
            }
        }
     }
}

.clhpar .dvs-solve-top-mask {
    padding-bottom: 72rem;
}

.header-content {
    .txt-price {
        .main-price {
            font-family: 'Bebas Neue';
            font-weight: 400;
            font-size: 5rem;
            @include max(1200px) {
                font-size: 3.2rem;
            }
            @include max(992px) {
                font-size: 2.4rem;
            }
        }
        .dash-month {
            font-size: 1.6rem;
        }
    }
}

.home-sesion-not-contact-wrap .content .main-member img {
    transform: translateY(2px);
}