.own-standards {
    background: linear-gradient(358deg, #1EC0F2 -4.57%, #022A37 86.53%);
    color: #fff;
    position: relative;
    padding-top: 38rem;
    position: relative;
    &::before {
        pointer-events: none;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-image: url(../assets/images/host-home/star-01.png);
    }
    &::after {
        pointer-events: none;
        content: "";
        mix-blend-mode: screen;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-image: url(../assets/images/host-home/star-02.png);
    }
    @include max(1200px) {
        padding-top: 25rem;
    }
    @include max(1024px) {
        padding-top: 22rem;
    }
    @include max(992px) {
        padding-top: 18rem;
        padding-bottom: 11.6rem;
    }
    @include max(600px) {
        padding-top: 5.6rem;
    }
    &-cloud {
        position: absolute;
        top: -27%;
        top: -5rem;
        left: 0;
        width: 100%;
    }

    &-year {
        line-height: 1;
        @include fz-160;
    }

    .host-tt .txt-bg {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    &-header {
        margin-bottom: 6.4rem;
        @include max(1200px) {
            margin-bottom: 4.2rem;
        }
        @include max(600px) {
            margin-bottom: 2.4rem;
        }
    }

    &-slider {
        width: calc(100% * (8 / 12) + 2.4rem);
        margin: 0 auto;
        position: relative;
        z-index: 5;
        @include max(600px) {
            width: 100%;
        }

        .img {
            overflow: hidden;
            width: 100%;
            height: 100%;
            padding-top: 56%;

            img {
                @include mid();
                width: 100%;
                height: 100%;
                border-radius: 0.8rem;
            }
        }

        .swiper-container {
            overflow: visible;
        }

        .swiper-wrapper {
            align-items: stretch;
        }

        .swiper-slide {
            height: auto;
            transform: scale(0.8);
            transition: all 0.2s linear;
            opacity: 0.2;

            &.swiper-slide-active {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    >.own-standards-content {
        overflow: hidden;
    }
    &-content {
        margin-top: 3.2rem;
        position: relative;

        &.style-second {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 8%;
                height: 32%;
                transform: translateX(-90%);
                background-size: contain;
                background-repeat: no-repeat;
                background-image:url(../assets/images/host-home/arow-01.png);
                @include max(600px) {
                    display: none;
                }
            }
            &::after {
                @include max(600px) {
                    display: none;
                }
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 8%;
                height: 32%;
                transform: translateX(90%);
                background-size: contain;
                background-repeat: no-repeat;
                background-image:url(../assets/images/host-home/arow-02.png);
            }
        }
        .txt-wrap {
            margin-bottom: 1.6rem;
        }

        .txt {
            font-size: 1.6rem;

            &-small {
                font-size: 1.8rem;
            }

            &-normal {
                @include fz-24;
            }

            &-big {
                @include fz-40;
                position: relative;
                padding-bottom: 3rem;
                width: fit-content;
                margin: 0 auto;
                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 40%;
                    position: absolute;
                    bottom:0;
                    left: 50%;
                    transform: translateX(-50%);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(../assets/images/host-home/Vector-61.svg);
                }
            }
        }

        .txt-mix-logo {
            justify-content: center;
            @include max(600px) {
                flex-direction: column;
            }
        }

        .btn.btn-second {
            height: auto;
            line-height: 1.5;
            padding: 3.2rem 6.4rem;
            @include fz-32;
            font-weight: 600;
            @include max(1200px) {
                font-size: 1.8rem;
                padding: 2rem 3.2rem;
            }
            @include max(600px) {
                padding: 1rem 1.4rem;
                font-size: 1.6rem;
            }
        }
    }
}

.txt-mix-logo {
    display: flex;
    align-items: center;

    .logo {
        height: 3.2rem;
        margin-left: 0.8rem;
        position: relative;
        top: -0.3rem;
        @include max(1024px) {
            height: 2.6rem;
        }
        @include max(992px) {
            height: 2.4rem;
        }
    }
}

.our-partner {
    .bg-decor {
        padding-top: 3.2rem;
        position: relative;
        z-index: 2;
        @include max(768px) {
            padding-top: 0;
        }
    }
}

@include max(1024px) {
    .home-sesion-not-contact .content-bottom .content {
        flex-wrap:initial ;
    }
}

