.swiper-pagin-js {
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;

    .swiper-pagination-bullet {
        width: 2.4rem;
        transition: 0.3s;
        opacity: 1;
        background-color: #D9D9D9;
        border-radius: 0.8rem;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        width: 4.8rem;
        background-color: $hostColor;
    }
}

