    .zero-to-hero {
    background: radial-gradient(12754.38% 96.52% at 53.74% 96.52%, #003746 0%, #006B8C 100%);
    color: #fff;
    -webkit-mask-image: url("../assets/images/host-home/zero-to-hero-mask.png");
    mask-image: url("../assets/images/host-home/zero-to-hero-mask.png");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    mask-position: bottom;
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    margin-top: calc((var(--paddingSection) * -1) - 4.2rem);
    @include max(1200px) {
        margin-top: calc(var(--paddingSection) * -1 - -3.2rem);
    }
    @include max(992px) {
        margin-top: calc(var(--paddingSection) * -1 + 5.3rem);
    }
    @include max(600px) {
        margin-top: calc(var(--paddingSection) * -1 + 6.2rem);
    }

    &-header {
        position: relative;

        .title {
            font-size: 10rem;
            line-height: 1.2;
            @include max(1200px) {
                font-size: 7.2rem;
            }
            @include max(992px) {
                font-size: 4.2rem;
            }
            @include max(600px) {
                font-size: 3.2rem;
            }

            .txt-big {
                font-size: 16rem;
                @include max(1200px) {
                    font-size: 10rem;
                }
                @include max(992px) {
                    font-size: 7.2rem;
                }
                @include max(600px) {
                    font-size: 4.2rem;
                }
            }
        }

        .desc {
            @include fz-40;
            @include max(1200px) {
                font-size: 2.4rem;
            }
            @include max(600px) {
                font-size: 1.8rem;
            }
        }
        .img {
            position: relative;
            z-index: 1;
            margin-left: auto;
            @include max(600px) {
                width: 100%;
            }
        }
    }

    &-content {
        .item {
            padding: 15rem 0;
            position: relative;
            @include max(1200px) {
                padding: 8rem 0;
            }
            @include max(600px) {
                padding: 2.1rem 0;
            }
            &:nth-child(odd) {
                .img-gen {
                    margin-left: auto;
                }
            }

            &:nth-child(even) {
                .content-flex {
                    flex-direction: row-reverse;
                }
                .img {
                    padding-right: calc(.5 * 100% /  6);
                    @include max(600px) {
                        padding-right: 0;
                    }
                }
            }
            &:last-child {
                padding-bottom: 4rem;
                @include max(1200px) {
                    padding-bottom: 8rem;
                }
                @include max(600px) {
                    padding-bottom: 5.6rem;
                }
            }

            &:nth-child(1) {
                padding-top: 0;
                @include max(600px) {
                    padding-top: 4.2rem;
                }
            }

            &:nth-child(3) {
                .content-flex {
                    justify-content: space-between;
                }
            }

            &:nth-child(5) {
                .img-gen {
                    width: 100%;
                }
                .img {
                    width: 110%;
                    padding-left: calc(1 * 100% / 6);
                    @include max(1200px) {
                        width: 100%;
                        padding-left: calc(.5 * 100% / 6);
                    }
                    @include max(600px) {
                        padding-left: 0;
                    }
                }
            }

            .content-flex {
                align-items: center;
                @include max(600px) {
                    flex-direction: column;
                }
            }
            .col {
                @include max(600px) {
                    width: 100%;
                }
            }
        }

        .cus-pin {
            max-width: calc(100% * (4 / 6));
            width: max-content;
            margin-bottom: 1.6rem;
        }

        .name {
            margin-bottom: 1.6rem;
        }

        .price-cover {
            @include fz-24;
            margin-bottom: 0.8rem;
            color: #1ec0f2;
        }

        .desc-big {
            @include fz-32;
        }

        .desc {
            font-weight: normal;
        }

        .price-discount {
            @include fz-64;
            font-weight: normal;
        }

        .btn-second {
            padding: 1.2rem 2.4rem;
            margin-top: 3.2rem;
            font-weight: 600;
            font-size: 1.6rem;
            height: 100%;
            @include max(1200px) {
                padding: .6rem 1.2rem;
            }
            @include max(600px) {
                margin-top: 1.4rem;
            }
            img {
                width: 4rem;
                height: 4rem;
                @include max(768px) {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }

        .img {
            position: relative;
            @include max(600px) {
                margin-top: 2.4rem;
            }

            &-gen {
                width: calc(100% * (5 / 6));
            }

            &-global {
                transition: 3s ease-in-out;

                .global {
                    mix-blend-mode: screen;
                }

                .domain {
                    position: absolute;
                    top: 14%;
                    left: 7%;
                    width: 90%;
                }
            }

            &-hand {
                position: absolute;
                bottom: -8%;
                left: 4%;
                width: 100%;
            }
        }
    }

    .road-ab {
        position: absolute;
        mix-blend-mode: overlay;
        @include max(600px) {
            display: none;
        }

        &-header {
            top: -62%;
            right: -5%;
            width: 60%;
        }

        &-item-1 {
            top: auto;
            bottom: 1%;
            width: 110vw;
            left: 44%;
            transform: translateX(-50%);
            @include max(1200px) {
                width: 136vw;
            }
        }

        &-item-2 {
            top: -15%;
        }

        &-item-3 {
            top: -12%;
        }

        &-item-4 {
            top: -20%;
        }

        &-item-5 {
            top: -15%;
        }
    }

    .zero-to-hero-content .road-ab {
        width: 110%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.txt-under {
    text-decoration: underline;
}